body {
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background: linear-gradient(to right, #3a80ba 1px, transparent 1px),
    linear-gradient(to bottom, #3a80ba 1px, transparent 1px);
  background-size: 25px 25px;
  background-color: white;
  color: black;
}

.custom-shadow {
  box-shadow: -12px 12px 0px -5px rgba(68, 68, 68, 1);
  -webkit-box-shadow: -12px 12px 0px -5px rgba(68, 68, 68, 1);
  -moz-box-shadow: -12px 12px 0px -5px rgba(68, 68, 68, 1);
}

.btn-shadow {
  box-shadow: -5px 5px 0px 0px rgba(68, 68, 68, 1);
  -webkit-box-shadow: -5px 5px 0px 0px rgba(68, 68, 68, 1);
  -moz-box-shadow: -5px 5px 0px 0px rgba(68, 68, 68, 1);
}

.main-outside-div {
  background-color: transparent;
  padding: 15px;
}

.boot-nav {
  border: 3px solid black;
}

.grid-container {
  margin: 15px;
  height: 84vh;
}

.section-left {
  background-color: white;
  width: 100%;
  padding: 10px;
  border: 3px solid black;
}

.section-left h3 {
  text-align: center;
}

.form-submit {
  padding: 0px 10px;
}

.section-right {
  background-color: white;
  width: 100%;
  padding: 10px;
  border: 3px solid black;
}

.section-right h3 {
  text-align: center;
}

.llm-container {
  position: relative;
  height: 75vh;
  padding: 10px;
  width: 100%;
}

.empty-response-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-response {
  border: 3px solid black;
  padding: 12px;
}

.message-container {
  display: flex;
  align-items: flex-start;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid black;
}

.message-container img {
  margin-right: 5px;
}

.message-container-text {
  flex: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.llm-responses {
  position: relative;
  overflow: auto;
  height: 65vh;
  width: 100%;
}

.input-field {
  position: absolute;
  bottom: 0px;
  width: 98%;
}

.input-field form {
  width: 100%;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  border: 3px solid black;
}

.upload-icon-and-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.submit-btn {
  background-color: #3a80ba;
  padding: 10px 5px;
  border-radius: 0px;
}

.submit-btn:disabled {
  background-color: #3a80ba;
  border: none;
  padding: 10px 5px;
  border-radius: 0px;
}

.upload-instructions {
  padding: 10px;
  text-align: justify;
}

.feature-choice {
  padding: 10px;
}

.analysis-para {
  white-space: pre-wrap;
}

.Carousel-container {
  /* height: 36vh; */
  background-color: #f0f0f0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.carousel-item {
  color: black;
  padding: 0px 30px;
  height: 50%;
}

.carousel-item h5 {
  text-align: start;
}

.carousel-item p {
  text-align: justify;
}

.carousel-control-prev,
.carousel-control-next {
  color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.carousel-indicators {
  background-color: black;
  display: none;
}
